@model Education.Models.RegisterPage

<div>
    @Html.ActionLink("<", "Index", "Register", new { groupId = Model.GroupId, week = Model.Week - 1 })
    @Html.ActionLink(">", "Index", "Register", new { groupId = Model.GroupId, week = Model.Week + 1 })
    <table class="registerTable table table-bordered">
        <tr>
            <th></th>
            @foreach (var item in Model.MarksByDays)
            {
                <th>@item.Date.ToShortDateString()</th>
            }
        </tr>
        @foreach (var item in Model.Children)
        {
            <tr>
                <th>
                    <span class="childrenNames" data-my-id="@item.Id">@item.FullName</span>
                    <span class="deleteChild" data-my-id="@item.Id" style="padding-left: 10px; color: red">X</span>
                </th>
                @foreach (var date in Model.MarksByDays)
                {
                    var mark = date.Marks.Where(u => u.ChildId == item.Id).LastOrDefault();
                    string value;
                    string name = "mark_";
                    int myId = -1;
                    int childId = item.Id;
                    if (mark != null)
                    {
                        myId = mark.Id;
                        value = mark.Value;
                        name = name + mark.Id;
                    }
                    else
                    {
                        value = "";
                        name = name + "-1";
                    }
                    <td>
                        <input type="text" class="markInput" value="@value" name="@name" data-my-id="@myId" data-child-id="@childId" data-my-date="@date.Date.ToShortDateString()" />
                    </td>
                }
            </tr>
        }
    </table>
</div>
@using (Html.BeginForm("CreateChild", "Register", new { week = Model.Week, groupid = Model.GroupId }, FormMethod.Post)) {
    <fieldset>
        <p>
            <label for="fullName">Добавить ребенка</label>
        </p>
        <p>
            <input name="fullName" id="fullName" type="text"/>
        </p>
        <button type="submit">Создать</button>
    </fieldset>
}
<script src="/lib/jquery/dist/jquery.js"></script>
<script>
    const markInputs = document.querySelectorAll(".markInput");
    const childrenValues = document.querySelectorAll(".childrenNames");
    const deleteChildList = document.querySelectorAll(".deleteChild");

    deleteChildList.forEach(u => u.addEventListener("click", deleteChild));
    childrenValues.forEach(u => u.addEventListener("click", updateChild));
    markInputs.forEach(u => u.addEventListener("change", updateMark));

    function updateMark(event) {
        $.post(
            {
                url: '@Url.Action("UpdateMark", "Register")',
                data: {
                    id: event.target.dataset.myId,
                    value: event.target.value,
                    childId: event.target.dataset.childId,
                    date: event.target.dataset.myDate,
                },
                error: function () {
                    alert("Случилась ошибка на сервере");
                },
                success: function(data) {
                    event.target.dataset.myid = data.id;
                }
            }
        );
    }

    function updateChild(event) {
        let newName = prompt("Введите новое им'я ребенка", event.target.innerText);
        $.post(
            {
                url: '@Url.Action("UpdateChild", "Register")',
                data: {
                    id: event.target.dataset.myId,
                    fullName: newName,
                },
                error: function () {
                    alert("Случилась ошибка на сервере");
                },
                success: function() {
                    location.reload();
                }
            }
        );
    }

    function deleteChild(event) {
        $.post(
            {
                url: '@Url.Action("DeleteChild", "Register")',
                data: {
                    id: event.target.dataset.myId,
                },
                error: function () {
                    alert("Случилась ошибка на сервере");
                },
                success: function() {
                    location.reload();
                }
            }
        );
    }
</script>